<!DOCTYPE html>
<html>
<head>
	<title>RememberMe</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="javascripts/vendor/jquery-1.11.0.js"></script>
<script type="text/javascript">

jQuery(document).ready(function(){
	var kort = 1;
	var kortmall = $(".kortdiv").detach();

	jQuery("#todo-form").submit(function(event){
		event.preventDefault();

		if (jQuery("#textruta1").val() != "" && jQuery("#textruta").val()!= "") {
			
			
			kortmall.clone().attr("data-kort", kort).appendTo("#mamma2");

			var kortet = $(".kortdiv[data-kort=" + kort + "]");

			var rader = jQuery("#textruta1").val().split(/\n/);

			for (var i = 0; i<rader.length; i++) {
				kortet.find(".todo-list").append("<li> <input type=\"checkbox\">" + rader[i] + " </li>");
			}

			jQuery("#textruta1").val("");

			var titel = jQuery("#textruta").val();
			jQuery("#textruta").val("");

			kortet.find("h1").text(titel);
			kortet.find(".kort").fadeIn(  );

			kortet.hover( function() {
				kortet.find(".menupics").show(); 
			}, function() {
				kortet.find(".menupics").hide(); 
			});

			kort++;
		}

	});
});
</script>

</head>
<body>
<div id="head">
	<div id="headtext">
		RememberMe
	</div>
</div>
<div id="bgtop">
	<div id="mamma1">
		<form id="todo-form" method="POST" action="/todos">
		<input type="text" id="textruta" placeholder="Title" autofocus />
		<textarea placeholder="Type here..." id="textruta1"></textarea>
		<input type="submit" value="save me" id="button"/>
		</form>
	</div>
</div>
<div id="mamma2">
	<div class="kortdiv" data-kort="1">
		<div class="menupics">
			<img src="images/menu.png">
		</div>
		<div class="kort">
			<div class="kortrubrik">
				<h1></h1>
					<ul class="todo-list">
			
					</ul>

			</div>
		</div>
	</div> 
</div>
</body>
</html>